<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dalactive_brand>
            <general>
                <enabled>1</enabled>
                <brand_url>/brands</brand_url>
                <show_logo_product>1</show_logo_product>
                <show_filter_category>1</show_filter_category>
            </general>
        </dalactive_brand>
    </default>
</config>
