<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dalactive_storelocator>
            <general>
                <enabled>1</enabled>
                <locator_url>/find-a-store</locator_url>
                <default_city>Ha Noi</default_city>
            </general>
        </dalactive_storelocator>
    </default>
</config>
