<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dalactive" translate="label" sortOrder="120">
            <label>Dalactive</label>
        </tab>
        <section id="dalactive_sizeguide" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Size Guide</label>
            <tab>dalactive</tab>
            <resource>Dalactive_SizeGuide::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Size Guide</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="display_mode" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Mode</label>
                    <source_model>Dalactive\SizeGuide\Model\Config\Source\DisplayMode</source_model>
                </field>
                <field id="show_on_product" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show on Product Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="default_chart_type" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Size Chart Type</label>
                    <source_model>Dalactive\SizeGuide\Model\Config\Source\ChartType</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
