<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <ghn>
                <active>0</active>
                <model>Dalactive\GhnShipping\Model\Carrier\Ghn</model>
                <title>GHN Express</title>
                <name>Dynamic Shipping Fee</name>
                <environment>sandbox</environment>
                <sandbox_base_url>https://dev-online-gateway.ghn.vn/shiip/public-api</sandbox_base_url>
                <production_base_url>https://online-gateway.ghn.vn/shiip/public-api</production_base_url>
                <token></token>
                <shop_id></shop_id>
                <from_district_id></from_district_id>
                <from_ward_code></from_ward_code>
                <enable_auto_mapping>1</enable_auto_mapping>
                <enable_nearest_origin>1</enable_nearest_origin>
                <default_origin_store_code>dal-active-xuan-thuy</default_origin_store_code>
                <enable_checkout_dropdowns>1</enable_checkout_dropdowns>
                <enable_name_resolver>1</enable_name_resolver>
                <address_cache_ttl>86400</address_cache_ttl>
                <default_service_id></default_service_id>
                <default_service_type_id>2</default_service_type_id>
                <default_weight>500</default_weight>
                <default_length>30</default_length>
                <default_width>20</default_width>
                <default_height>12</default_height>
                <coupon></coupon>
                <insurance_value_mode>subtotal</insurance_value_mode>
                <insurance_value_fixed>0</insurance_value_fixed>
                <max_insurance_value>0</max_insurance_value>
                <free_shipping_threshold>0</free_shipping_threshold>
                <use_fallback_on_api_failure>0</use_fallback_on_api_failure>
                <fallback_fee>35000</fallback_fee>
                <debug>1</debug>
                <sallowspecific>0</sallowspecific>
                <showmethod>1</showmethod>
                <sort_order>60</sort_order>
                <specificerrmsg>GHN Express is currently unavailable.</specificerrmsg>
            </ghn>
        </carriers>
    </default>
</config>
