<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dalactive" translate="label" sortOrder="120">
            <label>Dalactive</label>
        </tab>
        <section id="dalactive_storelocator" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Store Locator</label>
            <tab>dalactive</tab>
            <resource>Dalactive_StoreLocator::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Store Locator</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="locator_url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Store Locator URL</label>
                </field>
                <field id="default_city" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default City</label>
                </field>
            </group>
        </section>
    </system>
</config>
