<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <economicnews>
            <rss>
                <rss_feed_url>https://vnexpress.net/rss/kinh-doanh.rss</rss_feed_url>
                <items_per_page>12</items_per_page>
            </rss>
        </economicnews>
    </default>
</config>
