[Unit]
Description=Fix Magento Docker outbound forwarding
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/fix-magento-docker-forward.sh magento_default
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
