<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dalactive" translate="label" sortOrder="120">
            <label>Dalactive</label>
        </tab>
        <section id="dalactive_photoreview" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Photo Reviews</label>
            <tab>dalactive</tab>
            <resource>Dalactive_PhotoReview::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Photo Review</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="max_images" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max Images Per Review</label>
                    <validate>validate-digits</validate>
                </field>
                <field id="max_image_size" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max Image Size (KB)</label>
                    <comment>Per uploaded image.</comment>
                    <validate>validate-digits</validate>
                </field>
                <field id="allow_guest" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Guest Review</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="require_approval" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Require Admin Approval</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
