<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <sepay>
                <active>1</active>
                <model>Dalactive\Sepay\Model\PaymentMethod</model>
                <title>QR chuyển khoản</title>
                <order_status>dalactive_payment_processing</order_status>
                <allowspecific>1</allowspecific>
                <specificcountry>VN</specificcountry>
                <group>offline</group>
                <sort_order>15</sort_order>
                <bank_code></bank_code>
                <bank_display_name></bank_display_name>
                <account_no></account_no>
                <account_name></account_name>
                <webhook_secret></webhook_secret>
                <memo_prefix>DH</memo_prefix>
                <payment_timeout>900</payment_timeout>
                <qr_base_url>https://qr.sepay.vn/img</qr_base_url>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
            </sepay>
            <momo>
                <active>0</active>
            </momo>
        </payment>
    </default>
</config>
