<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_category_save_after">
        <observer name="dalactive_navbar_clean_category_menu_cache"
                  instance="Dalactive\Navbar\Observer\CleanNavigationCache"/>
    </event>
    <event name="catalog_category_delete_after_done">
        <observer name="dalactive_navbar_clean_deleted_category_menu_cache"
                  instance="Dalactive\Navbar\Observer\CleanNavigationCache"/>
    </event>
</config>
