<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/Router/Config/etc/routes.xsd">
    <router id="standard">
        <route id="economicnews" frontName="economicnews">
            <module name="Dalactive_EconomicNews"/>
        </route>
    </router>
</config>
